<body>
  <div class="container" id="homecontainer">
    <div class="row">
      <div class="col-lg">
        <div class="card" id="home-notmember"  style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Become A Member</h5>
            <p class="card-text">Not a member? Join the community of the fastest growing R&B blog platform</p>
            <a href="/users/new" class="btn btn-primary" id="home-signup">Sign Up</a>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="card" id="home-member" style="width: 18rem;">
          <div class="card-body">
            <strong><h5 class="card-title">Already A Member?</h5></strong>
            <p class="card-text">Come On In! Your Friends Are Waiting For You!!!</p>
            <a href="/login" class="btn btn-primary" id="home-login">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
