<!-- <h1>Join Now</h1>
<form action="/users/new" method="post">
  <h2>Name</h2></br>
  <input type="name" name="name" required></br>
  <h2>Birthday</h2></br>
  <input type="birthday" name="birthday" required></br>
  <h2>Email</h2></br>
  <input type='email' name='email' required></br>
  <h2>Password</h2></br>
  <input type='password' name='password' required></br>

<p>
  <input type="submit" value="Join Now">
  </p>

</form> -->
<div class="card" id="newformcard">
  <h5 class="card-header">Become A Member</h5>
  <div class="card-body">
    <form action='/users/new' method='post'>
        <div class="form-group col-md-6">
          <label for="Name" id="namelabel">Name</label>
          <input type="name" class="form-control" name="name" id="newname" placeholder="Enter Name">
        </div>
        <div class="form-group col-md-6">
          <label for="Username" id="newusername">Username</label>
          <input type="username" class="form-control" name="username"  placeholder="Create Username">
        </div>
        <div class="form-group col-md-6">
          <label for="inputBirthday" id="newbirth">Birthday</label>
          <input type="date" class="form-control" name="birthday"  placeholder="Month-Day-Year">
        </div>
      <div class="form-group col-md-6">
        <label for="inputEmail" id='newemail'>Email</label>
        <input type="email" class="form-control" name='email'  placeholder="Enter Email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword" id="newpass">Password</label>
        <input type="password" class="form-control" name='password'  placeholder="Create a Password">
    </div>

      <button type="submit" class="btn btn-primary" id="submitform">Sign Up</button>
    </form>
  </div>
</div>
