<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/users/:id">DUMBLR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/posts/?">Timeline <span class="sr-only">(current)</span></a>
      </li>
      <% if session['user_id'] != nil %>
      <li class="nav-item active">
        <a class="nav-link" href="/posts/new">Post <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/">Logout <span class="sr-only">(current)</span></a>
      </li>
      <% end %>
    </ul>
  </div>
</nav>


<h1><%=@user.username%></h1>
<h1><%=@user.name%></h1>
