<form action= '/posts/new' method='POST'>
  <div class="form-group row">
    <label for="title" class="col-sm-2 col-form-label" name='title'>Title</label>
    <div class="col-sm-10">
      <input type="title" class="form-control" name='title' placeholder="Title">
    </div>
  </div>
  <div class="form-group row">
    <label for="username" class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
      <input type="username" class="form-control"  name="username" placeholder="Username">
    </div>
  </div>
  <div class="form-group">
    <label for="content">Share Your Thoughts!</label>
    <textarea class="form-control" name='content' rows="3"></textarea>
  </div>




  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Share</button>
    </div>
  </div>
</form>
